<p class="lead">{{title}}</p>

{{#each stories}}

  <div class="card card-body">
      <h3 align="center" class="card-title">{{title}}</h3>
      <h2 align="right" class="class text-muted">By {{author}}</h2>
      <p class="lead">{{story}}</p>
    </div>
    </div>

{{else}}
  <h1 class="lead">No Stories Yet</h1>
{{/each}}